<br>
<br>
<br>


<% if @user.errors.any? %>
  <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
  </div>
  <div class="alert alert-warning">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="body-wrap">
  <div id="st-container" class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div class="st-content-inner">
          <section class="slice slice-lg sct-color-1">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                      <h2 class="form-header-title">User info</h2>
                    </div>
                    <div class="form-body">

                      <%= form_for(@user) do |f| %>

                        <h4>name</h4>
                        <%= f.text_field :name %>

                        <br>
                          <h4>Image</h4>
                          <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
                          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>


                        <h4>introduction</h4>
                        <%= f.text_area :introduction %>


                        <br>
                          <%= f.submit "Update User", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                        <% end %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>