<br>
<br>
<br>
<% if flash[:notice] %>
   <div class="flash">
   <%= flash[:notice] %>
   </div>
   <% end %>

<%= render 'books/list', {book: @book_new, user: @user} %>





<div class="col-xs-9">
  <h2>Book detail</h2>

   <table class="table table-hover table-inverse">

    <tbody>
	 <tr>
	  <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
	  <td><%= link_to @book.user.name ,user_path(@user) %></td>
	  <td><%=link_to @book.title %></td>
	  <td><%=@book.body %></td>
	   <% if @book.user ==current_user %>

	   <td><%= link_to "Edit", edit_book_path,class:'btn-sm btn-success' %></td>

	   <td><%= link_to "Destroy", book_path, class:'btn-sm btn-danger', method: :delete,"data-confirm" => "本当に消しますか？" %></td>
	  <% end %>
	 </tr>
    </tbody>
   </table>
</div>